.h5p-modelviewer {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
}
.h5p-modelviewer .modelviewer-file {
    padding: 20px;
}
.h5p-modelviewer .modelviewer-description {
    padding: 20px;
    color: red;
}

#stl_cont {
    width:100%;
    min-width: 400px;
}